body {
    margin: 0;
    padding: 0;
    background-color: rgb(142, 147, 177); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  .main-container {
    background-color: rgb(236, 236, 240); 
    padding: 30px;
    width: 350px;
    }
    .container.success{
        width:352px;
        height: 50px;
        background-color: rgb(103, 103, 158);
        margin-bottom:10px ;
        color: white;
        display: flex;
        justify-content: center;
        font-size:13px ;    
    }
    .btn{
        display: flex;
        justify-content: center;
    }
    button {
    background-color: rgba(100, 202, 89, 0.584);
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 300px;
 }
  
  .green {
    color: white;
  }
  
  .red {
    color: red;
  }
  input{
    padding: 10px;
    width: 330px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 10px;
  }
  